.container-layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.container-layout-logo {
    width: 68px;
    background-color: var(--dark);
}

.logo-img {
    object-fit: contain;
    margin-top: 20px;
    padding: 0 10px;
}

.container-wrapper {
    padding: 20px 50px;
    width: 100%;
}