.item-box {
    background-color: white;
    padding: 16px;
    border: 1px solid var(--gray-border);
    cursor: grab;
}

.item-text {
    font-size: 14px;
}

.item-action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}