.todo-container {
    padding: 12px;
    width: 306px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.todo-item-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 12px 12px;
    margin-top: 10px;
}

.btn-add-task {
    background-color: unset;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
    color: var(--dark);
}

.drop-here-box {
    background-color: white;
    padding: 16px;
    border: 2px dashed var(--gray-border);
    cursor: grab;
}

.drop-here-text {
    font-size: 14px;
    color: var(--gray);
    text-align: center;
}