.todo-container {
    padding: 12px;
    background-color: var(--red-light);
    border: 1px solid var(--magenta);
    min-width: 306px;
    width: 20%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.todo-item-container {
    display: flex;
    flex-direction: column;
    gap: 12px 12px;
    margin-top: 10px;
}

.btn-add-task {
    background-color: unset;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
    color: var(--dark);
}